body {
    font-family: "Lato", sans-serif;
    color: #222;
    background-color: "rgb(247, 247, 247)";
}

a:link {
    color: rgb(54, 212, 212);
    text-decoration: none;
}

a:visited {
    color: rgb(74, 143, 143)
}

a:hover {
    text-decoration: underline;
}

.content {
    margin: auto;
    max-width: 60rem;
}

#quizRow {
    display: flex;
}

#quiz {
    flex: 1;
    margin: 1.5%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#quiz:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#quizContent {
    padding: 0 15px 10px 15px;
}

#quiz h2 {
    margin-bottom: 0px;
}

#quiz h3 {
    margin-top: 7px;
}

#quiz img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#quiz a {
    color: black;
}

#populationDesc {
    font-size: small;
}

#footer {
    margin-top: 50px;
    text-align: center;
}

#copyright {
    color: #555;
    font-size: small;
}